.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  height: 250px;
  border-radius: 2px;
  background-color: #e0dede;
  border: 1px solid black;
}
